.container {
  padding-left: 20px;
  padding-right: 20px;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: 320px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
