.container {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  .header & {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hero & {
    position: relative;
    height: 502px;
  }
  .gallery & {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 320px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;

    .hero & {
      height: 399px;
    }
    .coments & {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;

    .hero & {
      height: 665px;
    }
  }
}
