<section class="about" id="about">
  <div class="container">
    <p class="about-text">tradition and love</p>
    <h2 class="about-title">how it’s made?</h2>
    <div class="description">
      <picture>
        <source
          srcset="
            ./images/about/about-img-desctop-cow.webp    1x,
            ./images/about/about-img-desctop-cow@2x.webp 2x
          "
          media="(min-width:1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/about/about-img-desctop-cow.png    1x,
            ./images/about/about-img-desctop-cow@2x.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/about/about-img-tablet-cow.webp    1x,
            ./images/about/about-img-tablet-cow@2x.webp 2x
          "
          media="(min-width:768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/about/about-img-tablet-cow.png    1x,
            ./images/about/about-img-tablet-cow@2x.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/about/about-img-mobile-cow.webp    1x,
            ./images/about/about-img-mobile-cow@2x.webp 2x
          "
          media="(min-width:320px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/about/about-img-mobile-cow.png    1x,
            ./images/about/about-img-mobile-cow@2x.png 2x
          "
          media="(min-width:320px)"
        />
        <img
          class="about-img"
          src="./images/about/about-img-mobile-cow.png"
          alt="a cow and a jug of milk"
        />
      </picture>
      <div class="about-description">
        <p class="about-description-text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about-description-text-light">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="about-description-text-light">Aliquam erat volutpat. Aenean accumsan.</p>
        <button type="button" class="button about-description-button">
          Read more
          <svg class="about-description-button-icon">
            <use href="./images/sprait/symbol-defs.svg#icon-Vector-1-1"></use>
          </svg>
        </button>
      </div>
    </div>

    <picture>
      <source
        srcset="
          ./images/about/about-img-desctop-sectionbg.webp    1x,
          ./images/about/about-img-desctop-sectionbg@2x.webp 2x
        "
        media="(min-width:1200px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/about/about-img-desctop-sectionbg.png    1x,
          ./images/about/about-img-desctop-sectionbg@2x.png 2x
        "
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/about/about-img-mobile-sectionbg.webp    1x,
          ./images/about/about-img-mobile-sectionbg@2x.webp 2x
        "
        media="(min-width:320px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/about/about-img-mobile-sectionbg.png    1x,
          ./images/about/about-img-mobile-sectionbg@2x.png 2x
        "
        media="(min-width:320px)"
      />
      <img class="about-bg" src="./images/about/about-img-mobile-sectionbg.png" alt="milk splash" />
    </picture>
    <div class="about-wrapper">
      <ul class="about-wrapper-list list">
        <li class="about-wrapper-item">
          <img class="about-wrapper-img" src="./images/about/about-icon1.png" alt="milk bucket" />
          <h3 class="about-wrapper-title">721</h3>
          <p class="about-wrapper-text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="about-wrapper-item">
          <img
            class="about-wrapper-img"
            src="./images/about/about-icon2.png"
            alt="bucket of fruit"
          />
          <h3 class="about-wrapper-title">16kg</h3>
          <p class="about-wrapper-text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="about-wrapper-item">
          <img class="about-wrapper-img" src="./images/about/about-icon3.png" alt="popsicle" />
          <h3 class="about-wrapper-title">84</h3>
          <p class="about-wrapper-text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
