<section class="coments">
  <div class="container">
    <picture>
      <source
        srcset="
          ./images/gallery/gallery-img-testimonials.webp    1x,
          ./images/gallery/gallery-img-testimonials@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        srcset="
          ./images/gallery/gallery-img-testimonials.png    1x,
          ./images/gallery/gallery-img-testimonials@2x.png 2x
        "
      />
      <img
        class="coments-img"
        src="./images/gallery/gallery-img-testimonials.png"
        alt="girl photo"
      />
    </picture>
    <div class="coments-wrapper">
      <img class="coments-wrapper-img" src="./images/coments/coments-brackets.png" alt="brackets" />
      <p class="coments-text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
      </p>
    </div>
    <div>
      <p>Emily, Los Angeles</p>
    </div>
  </div>
</section>
