<section class="customer-reviews container" id="aboutus">
  <h2 class="visually-hidden">Customer Reviews</h2>
  <div class="slide-reviews">
    <div class="slide-reviews__item">
      <img
        class="slide-reviews__photo"
        src="./images/coments/coments-img-testimonials.png"
        alt="Клиент1"
      />
      <div class="slide-reviews__thumb">
        <p class="slide-reviews__descrip">
          This is a very tasty project. When the customer pays me money for the work done, I will
          pay out the salary to my team with ice cream, because they love it as much as I do.
        </p>
      </div>
    </div>

    <div class="slide-reviews__item">
      <img
        class="slide-reviews__photo"
        src="./images/coments/coments-img-testimonials-2.png"
        alt="Клиент2"
      />
      <div class="slide-reviews__thumb">
        <p class="slide-reviews__descrip">
          I really love ice cream and as a child I dreamed of having my own factory for the
          production of this sweet. I grew up, I don't have a factory, but I have this wonderful
          project.
        </p>
      </div>
    </div>

    <div class="slide-reviews__item">
      <img
        class="slide-reviews__photo"
        src="./images/coments/coments-img-testimonials-3.png"
        alt="Клиент3"
      />
      <div class="slide-reviews__thumb">
        <p class="slide-reviews__descrip">
          When it's hot outside - I eat ice cream, when it's raining outside - I eat ice cream, when
          it's cold outside - I eat ice cream. In any unclear situation, eat ice cream.
        </p>
      </div>
    </div>
  </div>

  <div class="slide-customer">
    <div class="slide-customer__name">Emily, Los Angeles</div>
    <div class="slide-customer__name">Liydmila, Dnipro</div>
    <div class="slide-customer__name">Yana, Zaporizhzhia</div>
  </div>
</section>
