<section class="contacts">
  <div class="container">
    <ul class="contacts-list list">
      <li class="contacts-item">
        <div class="contacts-cafe">
          <p class="contacts-cafe-name">CAFE</p>
        </div>
        <h3 class="contacts-title">Chicago</h3>
        <p class="contacts-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="schedule-wrapper">
          <p class="contacts-schedule">Monday - Friday</p>
          <p class="contacts-time">06:00 AM - 10:00 PM</p>
          <p class="contacts-schedule">Saturday - Sunday</p>
          <p class="contacts-time">08:00 AM - 16:00 PM</p>
        </div>

        <a class="link contacts-tel" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="link contacts-mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
      <li class="contacts-item">
        <div class="contacts-cafe contacts-cafe-secondary">
          <p class="contacts-cafe-name">FOODTRUCK</p>
        </div>
        <h3 class="contacts-title">Los Angeles</h3>
        <p class="contacts-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="schedule-wrapper">
          <p class="contacts-schedule">Monday - Friday</p>
          <p class="contacts-time">06:00 AM - 10:00 PM</p>
          <p class="contacts-schedule">Saturday - Sunday</p>
          <p class="contacts-time">08:00 AM - 16:00 PM</p>
        </div>
        <a class="link contacts-tel" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="link contacts-mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
      <li class="contacts-item">
        <div class="contacts-cafe">
          <p class="contacts-cafe-name">CAFE</p>
        </div>
        <h3 class="contacts-title">New York</h3>
        <p class="contacts-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="schedule-wrapper">
          <p class="contacts-schedule">Monday - Friday</p>
          <p class="contacts-time">06:00 AM - 10:00 PM</p>
          <p class="contacts-schedule">Saturday - Sunday</p>
          <p class="contacts-time">08:00 AM - 16:00 PM</p>
        </div>
        <a class="link contacts-tel" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="link contacts-mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
    </ul>
    <div class="contacts-button">
      <button type="button" class="button contacts-button-accent">
        Our Locations
        <svg class="button-icon">
          <use href="./images/sprait/symbol-defs.svg#icon-Vector-1-1"></use>
        </svg>
      </button>
      <button type="button" class="button contacts-button-light">
        Franchise
        <svg class="button-icon">
          <use href="./images/sprait/symbol-defs.svg#icon-Vector-1-1"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
