<section class="gallery">
  <div class="container">
    <picture>
      <source
        srcset="
          ./images/about/about-img-desctop-home.webp    1x,
          ./images/about/about-img-desctop-home@2x.webp 2x
        "
        media="(min-width:1200px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/about/about-img-desctop-home.png    1x,
          ./images/about/about-img-desctop-home@2x.png 2x
        "
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/about/about-img-tablet-home.webp    1x,
          ./images/about/about-img-tablet-home@2x.webp 2x
        "
        media="(min-width:768px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/about/about-img-tablet-home.png    1x,
          ./images/about/about-img-tablet-home@2x.png 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/about/about-img-mobile-home.webp    1x,
          ./images/about/about-img-mobile-home@2x.webp 2x
        "
        media="(min-width:320px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/about/about-img-mobile-home.png    1x,
          ./images/about/about-img-mobile-home@2x.png 2x
        "
        media="(min-width:320px)"
      />
      <img class="gallery-img" src="./images/about/about-img-mobile-home.png" alt="photo reviews" />
    </picture>
  </div>
</section>
