<section>
  <div>
    <picture>
      <source
        srcset="
          ./images/about/about-img-desctop-cow.webp    1x,
          ./images/about/about-img-desctop-cow@2x.webp 2x
        "
        media="(min-width:1200px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/about/about-img-desctop-cow.png    1x,
          ./images/about/about-img-desctop-cow@2x.png 2x
        "
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/about/about-img-tablet-cow.webp    1x,
          ./images/about/about-img-tablet-cow@2x.webp 2x
        "
        media="(min-width:768px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/about/about-img-tablet-cow.png    1x,
          ./images/about/about-img-tablet-cow@2x.png 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/about/about-img-mobile-home.webp    1x,
          ./images/about/about-img-mobile-home@2x.webp 2x
        "
        media="(min-width:320px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/about/about-img-mobile-home.png    1x,
          ./images/about/about-img-mobile-home@2x.png 2x
        "
        media="(min-width:320px)"
      />
      <img class="about-img" src="./images/about/about-img-mobile-home.png" alt="photo reviews" />
    </picture>
  </div>
</section>
