<header class="header">
  <div class="container">
    <img src="../images/logo.png" alt="logo" />
    <nav class="header-menu">
      <ul class="header-menu-list">
        <li class="header-menu-item">
          <a class="header-menu-link" href="">Home</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="">About us</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="">How it’s made?</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="">Our products</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="button">
      Buy now
      <svg>
        <use href="../images/sprait/symbol-defs.svg#icon-Vector-1-1"></use>
      </svg>
    </button>
    <button class="button-menu">
      <svg class="button-burger-icon">
        <use href="../images/sprait/symbol-defs.svg#icon-Burger-2"></use>
      </svg>
    </button>
  </div>
</header>
