<section class="hero" id="hero">
  <div class="container">
    <picture>
      <source
        srcset="
          ./images/hero/hero-img-desctop-ellipse.png    1x,
          ./images/hero/hero-img-desctop-ellipse@2x.png 2x
        "
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/hero/hero-img-tablet-ellipse.png    1x,
          ./images/hero/hero-img-tablet-ellipse@2x.png 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/hero/hero-img-mobile-ellipse.png    1x,
          ./images/hero/hero-img-mobile-ellipse@2x.png 2x
        "
        media="(min-width:320px)"
      />
      <img class="hero-img-ellipse" src="./images/hero/hero-img-mobile-ellipse.png" alt="элипс" />
    </picture>
    <picture>
      <source
        srcset="
          ./images/hero/hero-img-1-desctop.webp    1x,
          ./images/hero/hero-img-1-desctop@2x.webp 2x
        "
        media="(min-width:1200px)"
        type="image/webp"
      />
      <source
        srcset="./images/hero/hero-img-1-desctop.png 1x, ./images/hero/hero-img-1-desctop@2x.png 2x"
        media="(min-width:1200px)"
      />
      <source
        srcset="./images/hero/hero-img-1-tablet.webp 1x, ./images/hero/hero-img-1-tablet@2x.webp 2x"
        media="(min-width:768px)"
        type="image/webp"
      />
      <source
        srcset="./images/hero/hero-img-1-tablet.png 1x, ./images/hero/hero-img-1-tablet@2x.png 2x"
        media="(min-width:768px)"
      />
      <source
        srcset="./images/hero/hero-img-1-mobile.webp 1x, ./images/hero/hero-img-1-mobile@2x.webp 2x"
        media="(min-width:320px)"
        type="image/webp"
      />
      <source
        srcset="./images/hero/hero-img-1-mobile.png 1x, ./images/hero/hero-img-1-mobile@2x.png 2x"
        media="(min-width:320px)"
      />
      <img
        class="hero-img-icecream animate__animated animate__pulse"
        src="./images/hero/hero-img-1-mobile.png"
        alt="icecream"
      />
    </picture>
    <picture>
      <source
        srcset="
          ./images/hero/hero-img-2-desctop.webp    1x,
          ./images/hero/hero-img-2-desctop@2x.webp 2x
        "
        media="(min-width:1200px)"
        type="image/webp"
      />
      <source
        srcset="./images/hero/hero-img-2-desctop.png 1x, ./images/hero/hero-img-2-desctop@2x.png 2x"
        media="(min-width:1200px)"
      />
      <source
        srcset="./images/hero/hero-img-2-tablet.webp 1x, ./images/hero/hero-img-2-tablet@2x.webp 2x"
        media="(min-width:768px)"
        type="image/webp"
      />
      <source
        srcset="./images/hero/hero-img-2-tablet.png 1x, ./images/hero/hero-img-2-tablet@2x.png 2x"
        media="(min-width:768px)"
      />
      <img
        class="hero-img-woman"
        src="./images/hero/hero-img-2-tablet.png"
        alt="девушка ест мороженное"
      />
    </picture>
    <picture>
      <source
        srcset="
          ./images/hero/hero-img-3-desctop.webp    1x,
          ./images/hero/hero-img-3-desctop@2x.webp 2x
        "
        media="(min-width:1200px)"
        type="image/webp"
      />
      <source
        srcset="./images/hero/hero-img-3-desctop.png 1x, ./images/hero/hero-img-3-desctop@2x.png 2x"
        media="(min-width:1200px)"
      />
      <source
        srcset="./images/hero/hero-img-3-tablet.webp 1x, ./images/hero/hero-img-3-tablet@2x.webp 2x"
        media="(min-width:768px)"
        type="image/webp"
      />
      <source
        srcset="./images/hero/hero-img-3-tablet.png 1x, ./images/hero/hero-img-3-tablet@2x.png 2x"
        media="(min-width:768px)"
      />
      <img class="hero-img-milk" src="./images/hero/hero-img-3-tablet.png" alt="milc" />
    </picture>
    <!-- заголовок -->
    <div class="title-wrapper">
      <h1 class="hero-title">ice cream made with</h1>
      <h2 class="hero-title-accent">passion</h2>
      <!-- две кнопки   -->
      <div class="hero-buttons">
        <ul class="list hero-buttons-list">
          <li class="hero-buttons-item">
            <a href="#products" class="button-accent button-products link">Products</a>
          </li>

          <li class="hero-buttons-item">
            <a href="#about" class="button button-making link">How it’s made?</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- список кофе и машин -->
    <div class="hero-numbers">
      <ul class="list hero-numbers-list">
        <li class="hero-numbers-item">
          <p class="hero-numbers-text">16</p>
          <p class="hero-numbers-desc">cafes</p>
        </li>
        <li class="hero-numbers-item">
          <p class="hero-numbers-text">23</p>
          <p class="hero-numbers-desc">food trucks</p>
        </li>
      </ul>
    </div>
    <div class="hero-text">
      <p class="hero-text-core">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button type="button" class="hero-text-btn">
        <picture>
          <source
            srcset="./images/hero/hero-img-desctop-arrow-right.png"
            media="(min-width:1200px)"
          />
          <source
            srcset="./images/hero/hero-img-tablet-arrow-right.png"
            media="(min-width:768px)"
          />
          <img src="./images/hero/hero-img-tablet-arrow-right.png" alt="стрелка вправо" />
        </picture>
      </button>
    </div>
  </div>
</section>
