<section class="products" id="products">
  <div class="container">
    <p class="products-text">100% natural</p>
    <h2 class="products-title">products</h2>
    <ul class="list products-list">
      <li class="products-item">
        <div class="products-card products-icecream">
          <picture>
            <source
              srcset="
                ./images/products/products-icecream-desctop.png    1x,
                ./images/products/products-icecream-desctop@2x.png 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/products/products-icecream-tablet.png    1x,
                ./images/products/products-icecream-tablet@2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/products/products-icecream-mobile.png    1x,
                ./images/products/products-icecream-mobile@2x.png 2x
              "
              media="(min-width:320px)"
            />
            <img
              class="products-img-icecream"
              src="./images/products/products-icecream-mobile.png"
              alt="icecream"
            />
          </picture>
          <h3 class="products-card-title">ice cream</h3>
          <p class="products-card-dot">...</p>
          <p class="products-card-text-mob">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <p class="products-card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <img
            class="products-card-img"
            src="./images/products/arrow-right 4.png"
            alt="arrow-right"
          />
        </div>
      </li>
      <li class="products-item">
        <div class="products-card products-coffee">
          <picture>
            <source
              srcset="
                ./images/products/products-coffee-desctop.png    1x,
                ./images/products/products-coffee-desctop@2x.png 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/products/products-coffee-tablet.png    1x,
                ./images/products/products-coffee-tablet@2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/products/products-coffee-mobile.png    1x,
                ./images/products/products-coffee-mobile@2x.png 2x
              "
              media="(min-width:320px)"
            />
            <img
              class="products-img-coffee"
              src="./images/products/products-coffee-mobile.png"
              alt="coffee"
            />
          </picture>
          <h3 class="products-card-title">ice coffee</h3>
          <p class="products-card-dot">...</p>
          <p class="products-card-text-mob">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <p class="products-card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <img
            class="products-card-img"
            src="./images/products/arrow-right 4.png"
            alt="arrow-right"
          />
        </div>
      </li>
      <li class="products-item">
        <div class="products-card products-milkshakes">
          <picture>
            <source
              srcset="
                ./images/products/products-milkshakes-desctop.png    1x,
                ./images/products/products-milkshakes-desctop@2x.png 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/products/products-milkshakes-tablet.png    1x,
                ./images/products/products-milkshakes-tablet@2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/products/products-milkshakes-mobile.png    1x,
                ./images/products/products-milkshakes-mobile@2x.png 2x
              "
              media="(min-width:320px)"
            />
            <img
              class="products-img-milkshakes"
              src="./images/products/products-milkshakes-mobile.png"
              alt="milkshakes"
            />
          </picture>
          <h3 class="products-card-title">milkshakes</h3>
          <p class="products-card-dot">...</p>
          <p class="products-card-text-mob">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <p class="products-card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <img
            class="products-card-img"
            src="./images/products/arrow-right 4.png"
            alt="arrow-right"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
