.button {
  min-width: 160px;
  border-radius: 22px;
  border: none;
  outline: none;
  background: var(--light-color);
  color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
}
.button-icon {
  width: 7px;
  height: 8px;
  margin-left: 16px;
}
