.coments {
  padding-top: 80px;
  padding-bottom: 86px;
  &-img {
    margin: 0 auto;
    margin-bottom: 29px;
  }
  &-wrapper {
    position: relative;
    padding: 43px 66px 26px 57px;
    background-color: #fafafa;
  }

  &-wrapper-img {
    z-index: 0;
    position: absolute;
    top: 28px;
    left: 61px;
  }
  &-text {
    position: relative;
    z-index: 1;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.55;
    text-align: center;
  }
  &-wrapper-dot {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  &-dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #c7133e;
  }
  &-dot:not(:last-child) {
    margin-right: 10px;
  }
  &-user-name {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
  }
}

@media (min-width: 768px) {
  .coments {
    padding-top: 121px;
    padding-bottom: 197px;
    &-img {
      margin-bottom: 19px;
    }
    &-wrapper {
      align-self: center;
      width: 620px;
      padding: 47px 80px 34px 80px;
    }

    &-wrapper-img {
      top: 30px;
      left: 40px;
    }
    &-text {
      font-size: 14px;
      line-height: 2.16;
      letter-spacing: 0.04em;
    }
    &-user-name {
      font-size: 16px;
    }
  }
}

@media (min-width: 1200px) {
  .coments {
    padding-top: 123px;
    padding-bottom: 132px;
    &-img {
      margin-bottom: 15px;
    }
    &-wrapper {
      width: 926px;
      padding: 32px 54px 32px 50px;
    }

    &-wrapper-img {
      top: 30px;
      left: 40px;
    }
    &-text {
      font-size: 16px;
      line-height: 1.86;
    }
    &-user-name {
      font-size: 20px;
    }
  }
}
