.contacts {
  padding-bottom: 113px;
  background: linear-gradient(to bottom, #ffffff 7%, #fff5f6 7%);

  &-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-item {
    width: 220px;
    padding: 43px 20px;
    background-color: var(--light-color);
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
  }
  &-item:not(:last-child) {
    margin-bottom: 20px;
  }
  &-cafe {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    background-color: #f0d1a5;
    margin-bottom: 25px;
    border-radius: 4px;

    &-name {
      font-weight: 500;
      font-size: 12px;
      line-height: 1.86;
      text-align: center;
      letter-spacing: 0.04em;
      color: var(--light-color);
    }
  }
  &-cafe-secondary {
    background-color: #c2e297;
    min-width: 130px;
  }
  &-title {
    margin-bottom: 10px;
  }
  &-title,
  &-schedule,
  &-time {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
  }
  &-text,
  &-mail,
  &-tel {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: #907e82;
  }

  &-time {
    color: #ffa5ba;
  }
  .schedule-wrapper {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
  }
}

@media (min-width: 768px) {
  .contacts {
    padding-bottom: 158px;
    background: linear-gradient(to bottom, #ffffff 9%, #fff5f6 9%);
    &-list {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    &-item {
      padding: 50px 32px;
      margin-bottom: 0px;
    }
    &-cafe {
      padding: 0px 16px;
      margin-bottom: 30px;
      border-radius: 6px;
      &-name {
        font-size: 16px;
      }
    }
    &-title {
      margin-bottom: 14px;
    }
    &-text,
    &-schedule,
    &-time,
    &-mail,
    &-tel {
      font-size: 14px;
    }
    &-text {
      line-height: 1.66;
    }
    &-schedule,
    &-title,
    &-time {
      line-height: 1.86;
    }
    &-mail,
    &-tel {
      line-height: 1.83;
    }
    .schedule-wrapper {
      padding-top: 30px;
      padding-bottom: 30px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

@media (min-width: 1200px) {
  .contacts {
    padding-bottom: 165px;
    background-image: url('../images/contacts/contacts-sectionbg-desctop.png'),
      linear-gradient(to bottom, #ffffff 11%, #fff5f6 11%);
    background-repeat: no-repeat;
    background-position-y: 20%;
    background-size: contain;
    &-list {
      margin-right: 81px;
      margin-left: 81px;
    }
    &-list:not(:last-child) {
      margin-right: 30px;
    }
    &-item {
      padding: 51px 44px 62px 43px;
      min-width: 330px;
    }
    &-cafe {
      margin-bottom: 32px;
    }
    &-title {
      margin-bottom: 10px;
    }

    &-title,
    &-text,
    &-schedule,
    &-time,
    &-mail,
    &-tel {
      font-size: 16px;
    }
    &-text {
      line-height: 1.83;
    }
    .schedule-wrapper {
      padding-top: 32px;
      padding-bottom: 32px;
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }
}
