.hero {
  background-color: #ffb8ca;
  background-image: url(../images/hero/ellipse3.png);
  background-repeat: no-repeat;
  background-position: center right;
}
.hero-img {
  position: absolute;
  bottom: 0;
  right: 32px;
}

.advantages {
  position: absolute;
  top: 193px;
  max-width: 218px;
}

.hero-title,
.hero-title-accent {
  color: var(--light-color);
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.hero-title-accent {
  font-size: 48px;
  color: var(--accent-color);
  margin-bottom: 19px;
}

.button-advantages {
  display: flex;
}
.button-products {
  min-width: 62px;
  margin-right: 8px;
  background-color: var(--accent-color);
  color: var(--light-color);
}
.button-products,
.button-making {
  padding: 6px 15px;
  border-radius: 20px;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
}
.button-making {
  min-width: 83px;
}
